@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Blank</title>

    @*<style type="text/css">
        html {
            overflow: -moz-hidden-unscrollable;
            height: 100%;
        }

        body::-webkit-scrollbar {
            display: none;
        }

        body {
            -ms-overflow-style: none;
            height: 100%;
            width: calc(100vw + 18px);
            overflow: auto;
        }

    </style >*@ 
</head > 
<body > 
    <div > 
    </div > 
</body > 
</html >
        