@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head runat="server">
    <title>客船乘客名冊管理系統</title>
</head>
<body>
    <form id="form1" method="post">
        @Html.AntiForgeryToken()
        <h1 class="text-danger">錯誤。</h1>
        <h2 class="text-danger">處理您的要求時發生錯誤。</h2>
    </form>
</body>
</html>
